@use "../utils/colors" as color;  

.form-task {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  width: 100%;
  background-color: color.$Dark_VeryDarkDesaturatedBlue;

  label {
    cursor: pointer;
    border: 1px solid color.$Dark_DarkGrayishBlue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  input {
    width: 80%;
    border: 0;
    outline: none;
    border-radius: 3px;
    padding: 20px 0;
    background-color: color.$Dark_VeryDarkDesaturatedBlue;
    color: #fff;
  }
}


  