// Light Theme
$Light_VeryLightGray: hsl(0, 0%, 98%);
$Light_VeryLightGrayishBlue: hsl(236, 33%, 92%);
$Light_LighGrayishBlue: hsl(233, 11%, 84%);
$Light_DarkGrayishBlue: hsl(236, 9%, 61%);
$Light_VeryDarkGrayishBlue: hsl(235, 19%, 35%);

// Dark Theme
$Dark_VeryDarkBlue: hsl(235, 21%, 11%);
$Dark_VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$Dark_LightGrayishBlue: hsl(234, 39%, 85%);
$Dark_LightGrayishBlue_hover: hsl(236, 33%, 92%);
$Dark_GrayishBlue: hsl(234, 11%, 52%);
$Dark_DarkGrayishBlue: hsl(233, 14%, 35%);
$Dark_VeryDarkGrayishBlue: hsl(237, 14%, 26%);