@use "./utils/colors" as color;
@import url("https://fonts.google.com/specimen/Josefin+Sans");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: color.$Dark_VeryDarkBlue;
  color: #fff;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

img {
  position: absolute;
  width: 100%;
  max-height: 600px;
  z-index: -1;
  top: 0;
}

.container {
  max-width: 500px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 120px;
}

.msg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}